<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBYP4OpE-jlqTo0nNKhk4hah0cS0_xmZqU</string>
	<key>GCM_SENDER_ID</key>
	<string>1011267551240</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diarraapp</string>
	<key>PROJECT_ID</key>
	<string>drtmodetest</string>
	<key>STORAGE_BUCKET</key>
	<string>drtmodetest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011267551240:ios:4fe6ca3354aafc65d951bd</string>
</dict>
</plist>